/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;

}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div {
	margin: 0;
	padding: 0;
}

img {
	max-width: 98%;
	max-height: 98%;
}

a {
	text-decoration: none;

}

/* ================================= 
  Base Layout Styles
==================================== */

.main-header {
	text-align: center;
	background: purple;
	text-decoration: none;
	border-width: 5px;
	border-style: solid;

}
.main-header a {
	color: #fff;

}

.main-header a:hover {
	color: lightgreen;
}

.name,
.main-nav li {
	margin: 0;
	display: inline-block;

}

.main-nav li {
	padding-right: 10px;
}

.festivals {
	text-align: center;
	background: lightgreen;
	padding: 10px;
	
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: purple;
	border-width: 5px;
	border-style: solid;
	
}

/* ================================= 
  Media Queries
==================================== */

